{
    "env": "production",
    "db_name": "postila_ru",
    "db_user": null,
    "db_password": null,
    "db_port": 6432,
    "db_host": "db2.imgdata.ru",
    "db_max": 50,
    "db_idle_timeout": 10000,

    "jwt_secret": null,

    "debug_mode": 0,

    "amqp_host": "rabbitmq.local",
    "amqp_vhost": "/",
    "amqp_port": 5672,
    "amqp_username": null,
    "amqp_password": null,
    "amqp_reconnection_delay": 30000,

    "server": "postila.ru",
    "service_rest_url": "https://rest.postila.ru",
    "protocol": "https://",
    "service_image_url_1": "https://img11.postila.ru",
    "service_image_url_2": "https://img12.postila.ru",
    "service_image_url_3": "https://img13.postila.ru",
    "service_image_url_4": "https://img14.postila.ru",

    "from_email": "pishite@postila.ru",
    "site_name": "Postila",
}
